* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-danger: #f75842;

  --color-primary: #1c3fa8;
  --color-secondary: #002240;

  --color-bg1: #047aed;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-DemiBold.woff);
  font-weight: 600;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff//IRANSansX-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Thin.woff);
  font-weight: 200;
}

body {
  font-family: iransans;
  direction: rtl;
  color: #333;
  direction: rtl;
  line-height: 1.6;
}

/* =====================NAVBAR==================== */

nav {
  background-color: var(--color-bg1);
  height: 70px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__container a {
  padding: 5px;
  padding-top: 2rem;
  margin: 0 8px;
  color: var(--color-white);
  font-weight: 400;
  font-family: iransans;
}

.nav__menu {
  margin-bottom: 0;
}

.nav__menu a:hover {
  text-decoration: underline;
}

/* =====================HEADER==================== */
header {
  background-color: var(--color-bg1);
  color: var(--color-white);
  height: 80vh;
  position: relative;
}

header::before,
header::after {
  content: "";
  height: 100px;
  background: white;
  bottom: -50px;
  right: 0;
  left: 0;
  position: absolute;
  transform: skewY(-2deg);
}

header p {
  margin: 30px 0;
}

.header__container {
  display: grid;
  grid-template-columns: 55% 45%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.header__text {
  padding-bottom: 6rem;
  align-content: justify;
}

.header__form {
  padding: 40px;
  margin: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: var(--color-white);
  border-radius: 10px;
  color: #333;
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  z-index: 100;
}

.header__form h3 {
  color: gray;
}

form > div {
  margin: 30px 0;
}

form input[type="email"],
form input[type="text"] {
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.btn-primary {
  background: var(--color-bg1);
  border: 1px solid transparent;
  color: var(--color-white);
}

.btn-primary:hover {
  color: var(--color-bg1);
  border: 1px solid var(--color-bg1);
  background: var(--color-white);
}

.btn-outline {
  color: var(--color-white);
  border: 1px solid white;
  padding: 8px;
}

.btn-outline:hover {
  color: var(--color-bg1);
  border: 1px solid transparent;
  background: var(--color-white);
}

/* =====================STATUSE==================== */
.statuses {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.statuses > h3 {
  /* padding-bottom: 3rem; */
  /* max-width: 600px; */
  text-align: center;
  padding: 0 1rem 3rem 1rem;
  margin: auto;
}

.statuses__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.status {
  text-align: center;
}

.status__icon {
  font-size: 2.5rem;
}

.status p {
  font-size: 18px;
  font-weight: bold;
}

.status h3 {
  margin: 16px 0;
}

/* =====================CLI==================== */
.cli__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.cli__cards > div {
  margin: 3rem;
  padding: 12px 16px 0 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
  padding-bottom: 11px;
  margin: 0;
}

.cli__img {
  position: relative;
  background-color: #002240;
  color: white;
  font-size: 24px;
  font-weight: 300;
  border-radius: 8px;
  padding: 46px 0 16px 12px;
  width: 400px;
}

.dot-wrapper {
  position: absolute;
  top: 12px;
  left: 11px;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: green;
  border-radius: 50%;
}

.dot:nth-of-type(2) {
  background-color: yellow;
}

.dot:nth-of-type(3) {
  background-color: red;
}

/* =====================CLOUD==================== */
.cloud {
  margin: 2rem 0;
  padding: 2rem 0;
  background: var(--color-bg1);
  color: var(--color-white);
}

.cloud__container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
}

.cloud__info h2 {
  font-size: 48px;
}

.cloud__info p {
  margin: 20px 0;
}

.btn-darkblue {
  background: var(--color-secondary);
  color: var(--color-light);
  border: 1px solid transparent;
}

.btn-darkblue:hover {
  background: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
}

/* =====================LANGUAGES==================== */
.languages {
  text-align: center;
  margin-bottom: 1.5rem;
}

.languages h2 {
  margin-bottom: 2rem;
}

.languages__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.language {
  padding: 10px;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.language h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.language:hover {
  transform: translateY(-15px);
}

/* =====================FOOTER==================== */
.footer {
  background: var(--color-secondary);
  padding: 2rem 0;
  color: var(--color-light);
}

.footer nav {
  height: auto;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__logo h1 {
  color: var(--color-light);
  margin-bottom: 0;
}

.footer__nav {
  background: transparent;
}

.footer__nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.footer__nav li {
  margin-right: 16px;
}

.footer__nav a {
  color: var(--color-light);
}

.footer__nav a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.footer__socials a {
  margin: 0 10px;
  color: rgb(187, 184, 184);
  font-size: 24px;
}

.footer__socials a:hover {
  color: white;
}

/* ===========================MEDIA QUERIES(TABLET and under)============================= */
@media (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  h {
    font-size: 19px;
  }

  header {
    height: auto;
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header__text {
    margin-top: 40px;
    padding-bottom: 0;
    text-align: center;
  }

  .header__form {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /* =====================STATUSES==================== */
  .statuses__container {
    grid-template-columns: 1fr;
  }

  .statuses {
    padding-bottom: 0;
    text-align: center;
  }

  .status {
    margin-bottom: 3rem;
  }

  /* ====================CLI==================== */
  .cli__container {
    flex-direction: column;
  }

  .cli__cards {
    order: 2;
  }

  .cli__cards > div {
    margin: 9px;
    padding: 12px;
    width: 100%;
  }

  .cli__img {
    margin-bottom: 12px;
  }

  /* =====================CLOUD==================== */
  .cloud__container {
    grid-template-columns: 1fr;
  }

  .cloud__info {
    order: 2;
    padding-top: 24px;
  }

  .cloud__info p {
    margin: 24px;
  }
}

/* ===================================MEDIA QUERIES(MOBILE)============================== */
@media (max-width: 600px) {
  nav {
    height: auto;
    padding-top: 12px;
  }

  nav > .flex {
    flex-direction: column;
    align-items: center;
  }

  .nav__menu {
    padding-left: 0 !important;
    order: 5;
  }

  header p {
    padding: 0 1rem;
  }

  .statuses > h3 {
    font-size: 22px;
    padding: 0 1rem;
  }
  .cloud__info h2 {
    font-size: 26px;
  }

  /* =====================FOOTER==================== */
  .footer__container {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .footer__nav {
    padding: 2rem 0;
  }

  .footer__nav ul {
    padding-left: 0;
  }

  .footer__socials {
    margin-top: 0;
    padding-left: 0;
  }

  .cli__img {
    margin-left: 16px;
    margin-right: 16px;
    width: 350px;
  }
}
